@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  --main-color: #BC2B2C;
  --linear-color: linear-gradient( #F8C2C3 0%, #D61315 30%);
  --circle-color: linear-gradient(0deg, #B90001 100%, #BC2B2C 0%);
  --bg-color: #FAC6C7;
  --footer-color: rgba(255, 84, 85, 0.1); /* 10% opacity */
  --font-color: #2B2B2B;
}
